[GARDENA]
ENABLED=0
CLIENT_ID=
CLIENT_SECRET=
# Zugriffstoken fuer die Schaltbefehle (?action=command / ?action=refresh).
# Wird beim ersten Oeffnen der Plugin-Oberflaeche automatisch erzeugt.
TOKEN=
MINISERVER=1
UDP_ENABLED=1
UDPPORT=5005
MQTT_ENABLED=1
MQTT_TOPIC=gardena
